In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("50_Startups.csv")

In [3]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [5]:
df.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [6]:
df.isna().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [8]:
df.duplicated().sum()

0

In [9]:
X=df.iloc[:,:-1]
Y=df.iloc[:,-1]

In [10]:
X=pd.get_dummies(X,drop_first=True)

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test=train_test_split(X,Y,test_size=0.2)

In [12]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
sc.fit(X_train.iloc[:,:-2])
X_train.iloc[:,:-2]=sc.transform(X_train.iloc[:,:-2])
X_train.head()

    R&D Spend  Administration  Marketing Spend  State_Florida  State_New York
25  -0.223090        0.707946        -0.583119              0               0
5    1.248364       -0.900686         1.297158              0               1
16   0.069142       -0.018906         0.473516              0               0
29  -0.202494        1.253578        -0.840827              0               1
12   0.416154        0.212757         0.352233              1               0

In [13]:
X_test.iloc[:,:-2]=sc.transform(X_test.iloc[:,:-2])
X_test.head()

    R&D Spend  Administration  Marketing Spend  State_Florida  State_New York
7    1.213800        0.949894         0.971225              1               0
38  -1.195894       -2.271630        -0.187644              0               1
37  -0.673965       -2.865267        -0.089288              0               0
28  -0.192729        2.452347        -0.748778              1               0
27  -0.060146        0.234785         1.216248              0               1

In [63]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [64]:
model=Sequential()

In [65]:
model.add(Dense(units=4,activation='relu',kernel_initializer='normal',input_dim=5))

In [67]:
model.add(Dense(units=4,activation='tanh',kernel_initializer='normal'))

In [68]:
model.add(Dense(units=1,kernel_initializer='normal'))

In [69]:
model.compile(optimizer='adam',loss='mean_squared_error',metrics=["accuracy"])

In [70]:
model.fit(X_train,Y_train,batch_size=10,epochs=30,verbose=1)

Epoch 1/30
4/4 [==============================] - 1s 4ms/step - loss: 14280214528.0000 - accuracy: 0.0000e+00
Epoch 2/30
4/4 [==============================] - 0s 4ms/step - loss: 14280210432.0000 - accuracy: 0.0000e+00
Epoch 3/30
4/4 [==============================] - 0s 7ms/step - loss: 14280209408.0000 - accuracy: 0.0000e+00
Epoch 4/30
4/4 [==============================] - 0s 6ms/step - loss: 14280209408.0000 - accuracy: 0.0000e+00
Epoch 5/30
4/4 [==============================] - 0s 5ms/step - loss: 14280207360.0000 - accuracy: 0.0000e+00
Epoch 6/30
4/4 [==============================] - 0s 5ms/step - loss: 14280206336.0000 - accuracy: 0.0000e+00
Epoch 7/30
4/4 [==============================] - 0s 6ms/step - loss: 14280206336.0000 - accuracy: 0.0000e+00
Epoch 8/30
4/4 [==============================] - 0s 5ms/step - loss: 14280204288.0000 - accuracy: 0.0000e+00
Epoch 9/30
4/4 [==============================] - 0s 6ms/step - loss: 14280202240.0000 - accuracy: 0.0000e+00
Epoch 10/30
4/4 [==============================] - 0s 4ms/step - loss: 14280201216.0000 - accuracy: 0.0000e+00
Epoch 11/30
4/4 [==============================] - 0s 6ms/step - loss: 14280199168.0000 - accuracy: 0.0000e+00
Epoch 12/30
4/4 [==============================] - 0s 6ms/step - loss: 14280198144.0000 - accuracy: 0.0000e+00
Epoch 13/30
4/4 [==============================] - 0s 6ms/step - loss: 14280196096.0000 - accuracy: 0.0000e+00
Epoch 14/30
4/4 [==============================] - 0s 5ms/step - loss: 14280194048.0000 - accuracy: 0.0000e+00
Epoch 15/30
4/4 [==============================] - 0s 5ms/step - loss: 14280190976.0000 - accuracy: 0.0000e+00
Epoch 16/30
4/4 [==============================] - 0s 6ms/step - loss: 14280189952.0000 - accuracy: 0.0000e+00
Epoch 17/30
4/4 [==============================] - 0s 5ms/step - loss: 14280185856.0000 - accuracy: 0.0000e+00
Epoch 18/30
4/4 [==============================] - 0s 5ms/step - loss: 14280182784.0000 - accuracy: 0.0000e+00
Epoch 19/30
4/4 [==============================] - 0s 5ms/step - loss: 14280179712.0000 - accuracy: 0.0000e+00
Epoch 20/30
4/4 [==============================] - 0s 5ms/step - loss: 14280176640.0000 - accuracy: 0.0000e+00
Epoch 21/30
4/4 [==============================] - 0s 5ms/step - loss: 14280173568.0000 - accuracy: 0.0000e+00
Epoch 22/30
4/4 [==============================] - 0s 5ms/step - loss: 14280168448.0000 - accuracy: 0.0000e+00
Epoch 23/30
4/4 [==============================] - 0s 5ms/step - loss: 14280165376.0000 - accuracy: 0.0000e+00
Epoch 24/30
4/4 [==============================] - 0s 5ms/step - loss: 14280160256.0000 - accuracy: 0.0000e+00
Epoch 25/30
4/4 [==============================] - 0s 5ms/step - loss: 14280153088.0000 - accuracy: 0.0000e+00
Epoch 26/30
4/4 [==============================] - 0s 7ms/step - loss: 14280150016.0000 - accuracy: 0.0000e+00
Epoch 27/30
4/4 [==============================] - 0s 7ms/step - loss: 14280143872.0000 - accuracy: 0.0000e+00
Epoch 28/30
4/4 [==============================] - 0s 5ms/step - loss: 14280136704.0000 - accuracy: 0.0000e+00
Epoch 29/30
4/4 [==============================] - 0s 5ms/step - loss: 14280130560.0000 - accuracy: 0.0000e+00
Epoch 30/30
4/4 [==============================] - 0s 6ms/step - loss: 14280124416.0000 - accuracy: 0.0000e+00