In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('Churn_Modelling.csv')

In [3]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
df.isna().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [5]:
df.duplicated().sum()

0

In [6]:
X=df.iloc[:,3:-1]
Y=df.iloc[:,-1:]

In [7]:
X=pd.get_dummies(X, drop_first=True)

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test=train_test_split(X,Y,test_size=0.2)

In [9]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
sc.fit(X_train.loc[:,["CreditScore","Age","Tenure","Balance","NumOfProducts","EstimatedSalary"]])
X_train.loc[:,["CreditScore","Age","Tenure","Balance","NumOfProducts","EstimatedSalary"]]=sc.transform(X_train.loc[:,["CreditScore","Age","Tenure","Balance","NumOfProducts","EstimatedSalary"]])
X_train

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
4154,0.778289,-0.464657,-0.685622,-1.219115,0.802847,1,0,1.679902,0,0,1
983,-0.372906,-0.369073,0.352937,0.832379,-0.912180,0,0,-0.522346,1,0,0
6724,1.045530,0.204430,1.045309,-1.219115,0.802847,1,0,0.699846,0,0,0
7738,-0.917668,-0.560241,0.352937,-1.219115,0.802847,0,0,1.287353,0,0,1
7805,-0.157057,-0.464657,-0.685622,0.937950,0.802847,1,1,-0.273726,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
5575,0.058792,0.108846,-1.031808,-1.219115,0.802847,1,1,1.406692,0,0,1
4565,-0.588755,0.682349,-1.031808,0.007579,-0.912180,1,1,-0.782803,0,1,0
2362,0.603554,0.586766,-0.339436,0.749381,-0.912180,1,1,-1.728093,1,0,1
4908,-1.133517,0.873517,-1.031808,0.532086,-0.912180,1,0,-0.188125,0,0,1
5980,-0.948504,-0.751409,0.699123,-1.219115,0.802847,1,0,1.166503,0,1,0

In [10]:
X_test.loc[:,["CreditScore","Age","Tenure","Balance","NumOfProducts","EstimatedSalary"]]=sc.transform(X_test.loc[:,["CreditScore","Age","Tenure","Balance","NumOfProducts","EstimatedSalary"]])
X_test

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
9662,1.004416,0.013262,-0.685622,-1.219115,0.802847,1,1,0.424717,0,1,1
7045,2.052826,-0.273489,0.352937,-1.219115,0.802847,1,1,1.574099,0,0,0
776,-0.290678,1.829356,0.699123,0.653365,-0.912180,1,0,0.362506,1,0,0
2798,-0.732655,-1.038160,0.352937,1.188369,-0.912180,1,0,0.799066,1,0,1
14,-0.157057,-0.369073,0.699123,-1.219115,0.802847,1,1,-0.583162,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9361,-0.722376,0.586766,-1.031808,1.652887,0.802847,1,1,1.211359,1,0,1
9937,0.511047,0.300014,1.045309,-1.219115,0.802847,1,1,0.100150,0,0,0
4598,-0.126222,0.682349,1.391495,1.020700,-0.912180,1,0,-1.051697,0,0,1
1446,-0.136500,-0.560241,-1.031808,1.114744,-0.912180,0,1,0.168105,0,0,1
121,0.243805,0.013262,0.352937,0.705752,-0.912180,0,0,0.010300,0,1,1

In [13]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [14]:
model=Sequential()

In [19]:
model.add(Dense(units=6,activation="relu",kernel_initializer="uniform",input_dim=11))

In [20]:
model.add(Dense(units=6,activation="relu",kernel_initializer="uniform"))

In [27]:
model.add(Dense(units=1,activation="sigmoid",kernel_initializer="uniform"))

In [28]:
model.compile(optimizer="adam",loss="binary_crossentropy",metrics=["accuracy"])

In [29]:
model.fit(X_train,Y_train,batch_size=10,epochs=30)

Epoch 1/30
800/800 [==============================] - 3s 2ms/step - loss: 0.5166 - accuracy: 0.7954
Epoch 2/30
800/800 [==============================] - 2s 2ms/step - loss: 0.4409 - accuracy: 0.7954
Epoch 3/30
800/800 [==============================] - 2s 2ms/step - loss: 0.4315 - accuracy: 0.7954
Epoch 4/30
800/800 [==============================] - 1s 2ms/step - loss: 0.4286 - accuracy: 0.7955
Epoch 5/30
800/800 [==============================] - 2s 2ms/step - loss: 0.4261 - accuracy: 0.8083
Epoch 6/30
800/800 [==============================] - 2s 3ms/step - loss: 0.4242 - accuracy: 0.8164
Epoch 7/30
800/800 [==============================] - 2s 2ms/step - loss: 0.4218 - accuracy: 0.8183
Epoch 8/30
800/800 [==============================] - 2s 3ms/step - loss: 0.4193 - accuracy: 0.8220
Epoch 9/30
800/800 [==============================] - 2s 2ms/step - loss: 0.4172 - accuracy: 0.8226
Epoch 10/30
800/800 [==============================] - 2s 2ms/step - loss: 0.4163 - accuracy: 0.8260
Epoch 11/30
800/800 [==============================] - 2s 2ms/step - loss: 0.4143 - accuracy: 0.8266
Epoch 12/30
800/800 [==============================] - 2s 2ms/step - loss: 0.4134 - accuracy: 0.8291
Epoch 13/30
800/800 [==============================] - 2s 2ms/step - loss: 0.4120 - accuracy: 0.8300
Epoch 14/30
800/800 [==============================] - 2s 2ms/step - loss: 0.4111 - accuracy: 0.8306
Epoch 15/30
800/800 [==============================] - 2s 3ms/step - loss: 0.4100 - accuracy: 0.8309
Epoch 16/30
800/800 [==============================] - 2s 2ms/step - loss: 0.4089 - accuracy: 0.8341
Epoch 17/30
800/800 [==============================] - 2s 2ms/step - loss: 0.4092 - accuracy: 0.8310
Epoch 18/30
800/800 [==============================] - 2s 2ms/step - loss: 0.4080 - accuracy: 0.8346
Epoch 19/30
800/800 [==============================] - 2s 2ms/step - loss: 0.4071 - accuracy: 0.8347
Epoch 20/30
800/800 [==============================] - 2s 2ms/step - loss: 0.4064 - accuracy: 0.8347
Epoch 21/30
800/800 [==============================] - 2s 3ms/step - loss: 0.4058 - accuracy: 0.8347
Epoch 22/30
800/800 [==============================] - 2s 2ms/step - loss: 0.4057 - accuracy: 0.8349
Epoch 23/30
800/800 [==============================] - 2s 2ms/step - loss: 0.4053 - accuracy: 0.8350
Epoch 24/30
800/800 [==============================] - 2s 2ms/step - loss: 0.4048 - accuracy: 0.8354
Epoch 25/30
800/800 [==============================] - 2s 2ms/step - loss: 0.4048 - accuracy: 0.8356
Epoch 26/30
800/800 [==============================] - 2s 2ms/step - loss: 0.4038 - accuracy: 0.8372
Epoch 27/30
800/800 [==============================] - 2s 2ms/step - loss: 0.4034 - accuracy: 0.8345
Epoch 28/30
800/800 [==============================] - 2s 2ms/step - loss: 0.4040 - accuracy: 0.8360
Epoch 29/30
800/800 [==============================] - 2s 2ms/step - loss: 0.4035 - accuracy: 0.8367
Epoch 30/30
800/800 [==============================] - 2s 2ms/step - loss: 0.4028 - accuracy: 0.8350

In [41]:
y_pred=model.predict(X_test)

63/63 [==============================] - 0s 2ms/step

In [42]:
from sklearn.metrics import confusion_matrix

In [46]:
y_pred=(y_pred>0.5)

In [49]:
cm=confusion_matrix(Y_test,y_pred)

In [50]:
cm

array([[1563,   37],
       [ 294,  106]], dtype=int64)

In [54]:
accuracy=(1563+106)/2000
print("accuracy={}%".format(accuracy*100))

accuracy=83.45%

# Cross validation

In [57]:
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score

In [58]:
def cross_validation():
    model=Sequential()
    model.add(Dense(units=6,activation="relu",kernel_initializer="uniform",input_dim=11))
    model.add(Dense(units=6,activation="relu",kernel_initializer="uniform"))
    model.add(Dense(units=1,activation="sigmoid",kernel_initializer="uniform"))
    model.compile(optimizer="adam",loss="binary_crossentropy",metrics=["accuracy"])
    return model

In [62]:
cross_model=KerasClassifier(build_fn=cross_validation,batch_size=10,epochs=10)
precision=cross_val_score(estimator=cross_model,X=X_train,y=Y_train)

Epoch 1/10

C:\Users\amria\AppData\Local\Temp\ipykernel_4788\1184736238.py:1: DeprecationWarning: KerasClassifier is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead. See https://www.adriangb.com/scikeras/stable/migration.html for help migrating.
  cross_model=KerasClassifier(build_fn=cross_validation,batch_size=10,epochs=10)

640/640 [==============================] - 2s 2ms/step - loss: 0.4943 - accuracy: 0.7937
Epoch 2/10
640/640 [==============================] - 1s 2ms/step - loss: 0.4236 - accuracy: 0.7944
Epoch 3/10
640/640 [==============================] - 1s 2ms/step - loss: 0.4146 - accuracy: 0.7944
Epoch 4/10
640/640 [==============================] - 1s 2ms/step - loss: 0.4054 - accuracy: 0.7944
Epoch 5/10
640/640 [==============================] - 2s 3ms/step - loss: 0.3956 - accuracy: 0.8183
Epoch 6/10
640/640 [==============================] - 2s 2ms/step - loss: 0.3856 - accuracy: 0.8322
Epoch 7/10
640/640 [==============================] - 1s 2ms/step - loss: 0.3771 - accuracy: 0.8419
Epoch 8/10
640/640 [==============================] - 1s 2ms/step - loss: 0.3708 - accuracy: 0.8467
Epoch 9/10
640/640 [==============================] - 1s 2ms/step - loss: 0.3661 - accuracy: 0.8539
Epoch 10/10
640/640 [==============================] - 1s 2ms/step - loss: 0.3629 - accuracy: 0.8537
160/160 [==============================] - 0s 2ms/step - loss: 0.3796 - accuracy: 0.8394
Epoch 1/10
640/640 [==============================] - 2s 2ms/step - loss: 0.4962 - accuracy: 0.7972
Epoch 2/10
640/640 [==============================] - 1s 2ms/step - loss: 0.4304 - accuracy: 0.7978
Epoch 3/10
640/640 [==============================] - 1s 2ms/step - loss: 0.4273 - accuracy: 0.7978
Epoch 4/10
640/640 [==============================] - 1s 2ms/step - loss: 0.4255 - accuracy: 0.7978
Epoch 5/10
640/640 [==============================] - 1s 2ms/step - loss: 0.4240 - accuracy: 0.7978
Epoch 6/10
640/640 [==============================] - 1s 2ms/step - loss: 0.4212 - accuracy: 0.8150
Epoch 7/10
640/640 [==============================] - 1s 2ms/step - loss: 0.4191 - accuracy: 0.8167
Epoch 8/10
640/640 [==============================] - 1s 2ms/step - loss: 0.4172 - accuracy: 0.8222
Epoch 9/10
640/640 [==============================] - 1s 2ms/step - loss: 0.4155 - accuracy: 0.8266
Epoch 10/10
640/640 [==============================] - 1s 2ms/step - loss: 0.4139 - accuracy: 0.8270
160/160 [==============================] - 0s 2ms/step - loss: 0.4310 - accuracy: 0.8138
Epoch 1/10
640/640 [==============================] - 2s 2ms/step - loss: 0.4944 - accuracy: 0.7948
Epoch 2/10
640/640 [==============================] - 1s 2ms/step - loss: 0.4343 - accuracy: 0.7953
Epoch 3/10
640/640 [==============================] - 1s 2ms/step - loss: 0.4311 - accuracy: 0.7953
Epoch 4/10
640/640 [==============================] - 1s 2ms/step - loss: 0.4289 - accuracy: 0.7953
Epoch 5/10
640/640 [==============================] - 1s 2ms/step - loss: 0.4266 - accuracy: 0.7961
Epoch 6/10
640/640 [==============================] - 1s 2ms/step - loss: 0.4247 - accuracy: 0.8114
Epoch 7/10
640/640 [==============================] - 1s 2ms/step - loss: 0.4228 - accuracy: 0.8186
Epoch 8/10
640/640 [==============================] - 1s 2ms/step - loss: 0.4211 - accuracy: 0.8192
Epoch 9/10
640/640 [==============================] - 1s 2ms/step - loss: 0.4204 - accuracy: 0.8214
Epoch 10/10
640/640 [==============================] - 1s 2ms/step - loss: 0.4185 - accuracy: 0.8216
160/160 [==============================] - 0s 2ms/step - loss: 0.4139 - accuracy: 0.8169
Epoch 1/10
640/640 [==============================] - 2s 2ms/step - loss: 0.4984 - accuracy: 0.7970
Epoch 2/10
640/640 [==============================] - 1s 2ms/step - loss: 0.4336 - accuracy: 0.7978
Epoch 3/10
640/640 [==============================] - 1s 2ms/step - loss: 0.4295 - accuracy: 0.7978
Epoch 4/10
640/640 [==============================] - 1s 2ms/step - loss: 0.4279 - accuracy: 0.7978
Epoch 5/10
640/640 [==============================] - 1s 2ms/step - loss: 0.4256 - accuracy: 0.7978
Epoch 6/10
640/640 [==============================] - 1s 2ms/step - loss: 0.4240 - accuracy: 0.7978
Epoch 7/10
640/640 [==============================] - 1s 2ms/step - loss: 0.4223 - accuracy: 0.8144
Epoch 8/10
640/640 [==============================] - 1s 2ms/step - loss: 0.4204 - accuracy: 0.8170
Epoch 9/10
640/640 [==============================] - 2s 2ms/step - loss: 0.4192 - accuracy: 0.8186
Epoch 10/10
640/640 [==============================] - 1s 2ms/step - loss: 0.4181 - accuracy: 0.8188
160/160 [==============================] - 0s 2ms/step - loss: 0.4201 - accuracy: 0.8188
Epoch 1/10
640/640 [==============================] - 2s 2ms/step - loss: 0.5063 - accuracy: 0.7912
Epoch 2/10
640/640 [==============================] - 1s 2ms/step - loss: 0.4377 - accuracy: 0.7916
Epoch 3/10
640/640 [==============================] - 1s 2ms/step - loss: 0.4350 - accuracy: 0.7916
Epoch 4/10
640/640 [==============================] - 1s 2ms/step - loss: 0.4337 - accuracy: 0.7916
Epoch 5/10
640/640 [==============================] - 1s 2ms/step - loss: 0.4330 - accuracy: 0.7916
Epoch 6/10
640/640 [==============================] - 1s 2ms/step - loss: 0.4322 - accuracy: 0.7916
Epoch 7/10
640/640 [==============================] - 1s 2ms/step - loss: 0.4313 - accuracy: 0.7916
Epoch 8/10
640/640 [==============================] - 1s 2ms/step - loss: 0.4306 - accuracy: 0.7977
Epoch 9/10
640/640 [==============================] - 1s 2ms/step - loss: 0.4290 - accuracy: 0.8053
Epoch 10/10
640/640 [==============================] - 1s 2ms/step - loss: 0.4257 - accuracy: 0.8066
160/160 [==============================] - 1s 2ms/step - loss: 0.4048 - accuracy: 0.8306

In [63]:
moyenne=precision.mean()
ecart_type=precision.std()
print("Moyenne={}, ecart-type={}".format(moyenne,ecart_type))

Moyenne=0.8238750100135803, ecart-type=0.009629057611062515

En cas de suraprentissage

from keras.layers import Dropout
model.add(Dropout(rate=0.1))

# Grid Search

In [66]:
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import GridSearchCV